body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.top-bottom-padding {
    padding-top:50px;
    padding-bottom:50px;
}

.bottom-padding {
    padding-bottom:50px;
}

.top-padding {
    padding-top:100px;
}

.top-xs-padding {
    padding-top:40px;
}

.scrollable-menu {
    height:auto;
    max-height: 100px;
    overflow-x: hidden;
}

.primary-heading {
    color: #2F4F4F;
    font-family: Georgia;
}

.primary-text {
    color: #2F4F4F;
    font-family: Georgia;
}

.left-padded {
    padding-left: 10px;
}

.label {
    font-size: 15px;
}

.navbar-default {
    background-color: #00cccc;
    border-color: black;
}

.nav-li-text {
    color: darkred;
}